{% extends "base.html" %}
{% block section %}

    <div class="row">
        <div class="col s12 m8 center_align">
            <div class="card">
                <div class="card-image">
                    <img src="images/sample-1.jpg">
                </div>
                <div class="card-content">
                    <p>"Once upon a midnight dreary, while I pondered, weak and weary, <br>
                        Over many a quaint and curious volume of forgotten lore— <br>
                        While I nodded, nearly napping, suddenly there came a tapping, <br>
                        As of some one gently rapping, rapping at my chamber door."
                    </p>
                </div>
                <div class="card-action">
                    <a href="#">Edgar Allen-Poe</a>
                </div>
            </div>
        </div>
    </div>
  
          

{% endblock %}